.rline{
    position: relative;
}
.form_style .rfield_error {
  display: block;
  padding: 2px 10px;
  background-color: #FF5555;
  color: #fff;
  font-size: 12px;
  z-index: 1;
  position: absolute;
  top: -15px;
  left: auto;
  right: 0px;
  visibility: hidden;
}
.form_style .rcheck .rfield_error {
  top: 0px;
  left: 22px;
  right: auto;
}
