.article-1-form {
    height: 380px;
    margin-top: 20px;
}
.article-2-content {
    height: auto;
    overflow: hidden;
    padding-bottom: 40px;
}
.article-3 {
    height: auto;
    overflow: hidden;
    padding-bottom: 40px;
}
.article-3-footer p {
    font-size: 20px;
    float: right;
}

.phones {
    width: 240px;
}
@media screen and (min-width:600px) and (max-width:700px) {
    .phones p{
        text-align: end;
        font-size: 18px;
    }
}
@media screen and (min-width:0px) and (max-width:599px) {
    .phones, .logo{
        margin: 0;
        width: auto;
    }
}
