@import url(reset.css);
@font-face {
    font-family: 'PFDinTextPro-Regular';
    src: url('../fonts/pfdintextpro-regular.ttf');
    src: local('?'), url('../fonts/pfdintextpro-regular.woff') format('woff'), url('../fonts/pfdintextpro-regular.ttf') format('truetype'), url('../fonts/pfdintextpro-regular.svg') format('svg'), url('../fonts/pfdintextpro-regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextPro-Medium';
    src: url('../fonts/pfdintextpro-medium.ttf');
    src: local('?'), url('../fonts/pfdintextpro-medium.woff') format('woff'), url('../fonts/pfdintextpro-medium.ttf') format('truetype'), url('../fonts/pfdintextpro-medium.svg') format('svg'), url('../fonts/pfdintextpro-medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextPro-Thin';
    src: url('../fonts/pfdintextpro-thin.ttf');
    src: local('?'), url('../fonts/pfdintextpro-thin.woff') format('woff'), url('../fonts/pfdintextpro-thin.ttf') format('truetype'), url('../fonts/pfdintextpro-thin.svg') format('svg'), url('../fonts/pfdintextpro-thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextPro-Bold';
    src: url('../fonts/pfdintextpro-bold.ttf');
    src: local('?'), url('../fonts/pfdintextpro-bold.woff') format('woff'), url('../fonts/pfdintextpro-bold.ttf') format('truetype'), url('../fonts/pfdintextpro-bold.svg') format('svg'), url('../fonts/pfdintextpro-bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextPro-Italic';
    src: url('../fonts/pfdintextpro-italic.ttf');
    src: local('?'), url('../fonts/pfdintextpro-italic.woff') format('woff'), url('../fonts/pfdintextpro-italic.ttf') format('truetype'), url('../fonts/pfdintextpro-italic.svg') format('svg'), url('../fonts/pfdintextpro-italic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextPro-Thin-Italic';
    src: url('../fonts/pfdintextpro-thinitalic.ttf');
    src: local('?'), url('../fonts/pfdintextpro-thinitalic.woff') format('woff'), url('../fonts/pfdintextpro-thinitalic.ttf') format('truetype'), url('../fonts/pfdintextpro-thinitalic.svg') format('svg'), url('../fonts/pfdintextpro-thinitalic.otf');
    font-weight: normal;
    font-style: normal;
}
.clear{
    clear: both;
}
body{
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'PFDinTextPro-Thin';
    overflow-y: scroll;
}
.wrap960{
    width: 960px;
    margin: 0 auto;
}
.nav{
    background-color: #53b9bb;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    max-width: 1920px;
    margin: 0 auto;
}
.nav ul li{
    float: left;
    padding-top: 17px;
    margin-left: 24px;
}
.nav ul li a{
    font-family: 'PFDinTextPro-Medium';
    text-decoration: none;
    color: #f5f5f5;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #1b888a;
}
.main-article{
    background: url("../images/main.jpg")no-repeat center center;
    height: 727px;

}
.logo{
    float: left;
    margin-right: 114px;
    display: inline-table;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.logo a{
    width: 159px;
    height: 57px;
    display: block;
    background: url("../images/logo.png")no-repeat center;
}
.main-article-header{
    height: 100px;
    position: relative;
    top: 30px;
}
.main-article-header h2{
    width: 392px;
    float: left;
    text-align: center;
    font-size: 18px;
    color: #8d8d8d;
    line-height: 24px;
    display: inline-table;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.phones{
    float: right;
    width: 222px;
    display: inline-table;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.phones p{
    text-align: center;
    color: #000000;
    font-size: 30px;
    margin-bottom: 10px;
}
.main-article-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    color: #000000;
    font-family: 'PFDinTextPro-Bold';
    margin-top: 40px;
}
.main-article-footer{
    margin-top: 362px;
}
.call-me a, .submit-btn{
    font-family: 'PFDinTextPro-Medium';
    font-size: 24px;
    text-align: center;
    padding: 21px 0;
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    background-color: #53b9bb;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
}
/*============================================================*/
.article-1{
    background: url("../images/bg1.jpg")no-repeat 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 462px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-left: none;
    border-right: none;
}
.article-1-text{
    width: 580px;
    height: 400px;
    background: url("../images/article-1-arrov.png")no-repeat right bottom;
    float: left;
}
.article-1-text p{
    padding: 120px 0 0 40px;
    color: #000000;
    font-family: 'PFDinTextPro-Italic';
    font-size: 30px;
    text-align: center;
    line-height: 36px;
}
.article-1-form{
    background-color: white;
    width: 305px;
    height: auto;
    float: right;
    margin-top: 40px;
    padding: 20px;
}
.article-1-form h2{
    color: #000000;
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
}
.article-1-form form input{
    margin-bottom: 10px;
}
.form-input-textarea, .form-input-text{
    width: 305px;
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
    color: #979797;
    font-size: 20px;
    font-family: 'PFDinTextPro-Thin';
    padding: 0;
}
.form-input-textarea{
    height: 50px;
    text-align: left;
    resize: none;
    padding: 15px;
    width: 275px;
}
.submit-btn{
    border: none;
    width: 305px;
    height: 60px;
    padding: 15px 0;
    margin-top: 15px;
}
/*============================================================*/
.article-2{
    background-color: #f8f8f8;
}
.article-2-content{
    width: 760px;
    height: 680px;
    margin: 0 auto;

}
.article-2 h2{
    padding-top: 60px;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    margin-bottom: 56px;
    background: url("../images/article-2-h2-wave.png")no-repeat center bottom;
}
.article-2 ul li{
    line-height: 26px;
    font-size: 24px;
    padding-bottom: 45px;
}
.article-2-content ul li img{
    float: left;
    margin-right: 20px;
}
.padding-article-2-p{
    padding-top: 15px;
}
.article-2-line{
    min-width: 320px;
    width: 480px;
    height: 1px;
    border-top: 1px solid #c8c8c8;
    margin: 10px auto 45px;
}
.article-2 h3, .article-4 h3{
    width: 620px;
    margin: 0 auto;
    text-align: center;
    color: #7c7c7c;
    font-family: 'PFDinTextPro-Thin-Italic';
    font-size: 18px;
    line-height: 20px;
}
/*============================================================*/
.article-3{
    width: 900px;
    height: 470px;
    margin: 0 auto;
    overflow: hidden;
}
.article-3 h2, .article-4-content > h2, .article-6 h2, .article-7 h2, .article-8 h2, .article-9 h2, .article-11>.wrap960>h2{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    padding-bottom: 20px;
    margin-bottom: 46px;
    background: url("../images/article-2-h2-wave.png")no-repeat center bottom;
}
.article-3-content{
    margin: 0 auto;
    line-height: 20px;
    width: 760px;
    padding: 25px;
    outline: 2px solid #53b9bb;
    border-style: solid;
    border-width: 12px 14px 12px 13px;
    -moz-border-image: url("../images/article-3-border.png") 12 14 12 13;
    -webkit-border-image: url("../images/article-3-border.png") 12 14 12 13;
    -o-border-image: url("../images/article-3-border.png") 12 14 12 13;
    border-image: url("../images/article-3-border.png") 12 14 12 13 fill;
}
.article-3-content p span{
    font-family: 'PFDinTextPro-Medium';
}
.article-3-footer{
    width: 710px;
    margin: 0 auto;
}
.article-3-footer-img{
    background: url("../images/article-3-footer-img.jpg")no-repeat center center;
    width: 170px;
    height: 86px;
    border: 1px solid #53b9bb;
    float: left;
    margin-top: 30px;
}
.article-3-footer p{
    margin-left: 13px;
    font-family: 'PFDinTextPro-Thin-Italic';
    font-size: 24px;
    line-height: 28px;
    margin-top: 47px;
    float: left;
}
/*============================================================*/
.article-4{
    background-color: #f8f8f8;
}
.article-4-content{
    overflow: hidden;
}
.article-4-content img{
    float: left;
    margin-right: 40px;
}
.article-4-content ul li h2{
    color: #53b9bb;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'PFDinTextPro-Bold';
}
.article-4-content ul li p{
    margin-bottom: 30px;
    font-size: 18px;
}
.article-4 h3{
    width: 630px;
    padding-bottom: 30px;
}
/*============================================================*/
.article-5{
    background: url("../images/bg2.jpg")no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    height: 355px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-left: none;
    border-right: none;
}
.article-5 p{
    font-family: 'PFDinTextPro-Italic';
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 55px;
}
/*============================================================*/
.article-6{
    width: 960px;
    margin: 0 auto 40px;
}
.article-6 ul li{
    margin-bottom: 10px;
    overflow: hidden;
}
.article-6-li-content{
    background-color: #f8f8f8;
    border: 2px solid #c6c6c6;
    width: 80%;
    height: 100px;
    float: left;
    font-size: 24px;

    text-align: center;
}
.article-6-li-content:hover{
    border: 2px solid #53b9bb;
}
.article-6-li-price{
    text-align: center;
    width: 19%;
    height: 104px;
    float: right;
    background-color: #53b9bb;
    color: #f5f5f5;
    font-size: 30px;
    font-family: 'PFDinTextPro-Regular';
    line-height: 100px;
}




.x-img-main{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
}
.x-pushfull-top .xoverlay-box{
    background: white !important;
    color: #000000 !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
}
/*============================================================*/
.article-7{
    background-color: #f8f8f8;
}
.article-7-content{
    overflow: hidden;
}
.article-7-content > img{
    float: right;
    margin-top: 10px;
    margin-bottom: 40px;
}
.article-7-content ul{
    float: left;
    width: 540px;
}
.article-7-content ul li{
    margin-bottom: 41px;
}
.article-7-content ul li img{
    float: left;
    margin-right: 20px;
}
.article-7-li-img1{
    background: url("../images/article-7-content-li.png") no-repeat 0 15px;
}
.article-7-li-img2{
    background: url("../images/article-7-content-li.png") no-repeat -4px -71px;
}
.article-7-li-img3{
    background: url("../images/article-7-content-li.png") no-repeat -4px -152px;
}
.article-7-li-img4{
    background: url("../images/article-7-content-li.png") no-repeat -1px -245px;
}
.article-7-li-img5{
    background: url("../images/article-7-content-li.png") no-repeat -4px -353px;
}
.article-7-content ul li p{
    font-size: 20px;
}
.padding-article-7-p{
    padding-top: 13px;
}
/*============================================================*/
.article-8{
    margin-bottom: 50px;
    overflow: hidden;
}
.article-8 > .wrap960 > h3{
    width: 538px;
    margin: 0 auto;
    text-align: center;
    font-family: 'PFDinTextPro-Italic';
    margin-bottom: 50px;
}
.article-8-content-box1{
    float: left;
}
.article-8-content-box2{
    float: right;
}
.article-8-content-box2 h3{
    margin-bottom: 15px !important;
}
.article-8-content-box2 p{
    margin-bottom: 74px !important;
}
.article-8-content-box{
    width: 440px;
    height: 570px;
    overflow: hidden;
    position: relative;
}
.article-8-content-box img{
    margin-bottom: 10px;
}
.article-8-content-box h2{
    font-size: 24px;
    color: #53b9bb;
    font-family: 'PFDinTextPro-Medium';
    padding: 0;
    margin: 0 0 10px 0;
    background: none;
    text-align: left;
}
.article-8-content-box h3{
    font-size: 20px;
    margin-bottom: 35px;
    font-family: 'PFDinTextPro-Regular';
    color: #000000;
}
.article-8-content-box p{
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.article-8-content-box .call-me a{
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
.vertical-line{
    width: 1px;
    border-right: 1px solid #c6c6c6;
    margin: 106px auto 0;
    height: 355px;
    float: left;
    padding-left: 35px;
}
/*============================================================*/
.article-9{
    background-color: #f8f8f8;
    padding-bottom: 40px;
}
.article-9-video-box{
    border: 2px solid #53b9bb;
    width: 639px;
    height: 350px;
    margin: 0 auto;
}
/*============================================================*/
.article-10{
    background: url("../images/bg3.jpg")no-repeat 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 543px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-left: none;
    border-right: none;
}
.article-10 .article-1-text p{
    padding-top: 200px !important;
}
.article-10 .article-1-text{
    height: 450px;
}
.article-10 .article-1-form{
    margin-top: 50px;
    height: auto;
}
.article-10 .article-1-form p{
    margin-top: 5px;
}
.form-checkbox-x p{
    width: 175px;
    padding-top: 15px;
    float: left;
    margin-right: 13px;
}
.form-checkbox-active{
    background: url("../images/checkbox.png")no-repeat center -50px;
    width: 55px;
    height: 50px;
}
.form-checkbox-active, .form-checkbox {
    display: none;
}
.form-checkbox-active + label, .form-checkbox + label {
    display: inline-block;
    width: 55px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    background: #888888;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: 'PFDinTextPro-Medium';
    margin-top: 12px;
}
.form-checkbox-active:checked + label, .form-checkbox:checked + label {
    background: #53b9bb;
}
/*============================================================*/
.ratings{
    background-color: #f8f8f8;
    width: 100%;
    height: 450px;
    margin-bottom: 60px;
}
.bx-viewport{
    height: 300px !important;
}
.bx-pager-item {
    float: left;
    height: 15px;
    width: 17px;
    margin-left: 5px;
}
.bx-pager-link{
    background: url("../images/ratings_dot.png")no-repeat;
    height: 15px;
    width: 17px;
    text-indent: -9999px;
    display: block;
}
.active{
    background: url("../images/ratings_dot.png")no-repeat -25px 0px;
    height: 15px;
    width: 17px;
}
.bx-prev{
    background: url("../images/ratings_btn.png")no-repeat;
    height: 58px;
    width: 35px;
    position: absolute;
    top: -173px;
    left: -70px;
}
.bx-prev:hover{
    background: url("../images/ratings_btn-active.png")no-repeat;
}
.bx-next{
    background: url("../images/ratings_btn.png")no-repeat -38px 0;
    height: 58px;
    width: 35px;
    position: absolute;
    top: -173px;
    right: -70px;
}
.bx-next:hover{
    background: url("../images/ratings_btn-active.png")no-repeat -38px 0;;
}
.modalDialog-controls-direction{
    position: relative;
}
.bx-default-pager{
    float: right;
}
.bxslider li img{
    float: left;
    margin-right: 50px;
    z-index: 400;
}

.bxslider li p{
    font-size: 18px;
    line-height: 21px;
    padding-top: 15px;
}
.bxslider li h2{
    margin-top: 30px;
    font-family: 'PFDinTextPro-Regular';
    font-size: 18px;
}
.bxslider li h2 span{
    color: #53b9bb;
    font-size: 24px;
}
/*============================================================*/
.article-11{
    padding-bottom: 40px;
    border-bottom: 1px solid #dadada;
}
.footer-info{
    width: 490px;
    text-align: center;
    font-family: 'PFDinTextPro-Thin-Italic';
    margin: 40px auto 40px;
    font-size: 18px;
}
.footer-info a{
    text-decoration: none;
    color: #53b9bb;
}
.footer-info a:hover{
    text-decoration: underline;
}
.article-1-form > h2 > span{
    font-family: 'PFDinTextPro-Medium';
      color: #53b9bb;
}
/*============================================================*/
.modalDialog, .phoneModalDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    opacity: 0;
    pointer-events: none;
}
.modalDialog:target, .phoneModalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div, .phoneModalDialog > div{
    width: 370px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -205px;
    padding: 20px;
    background: #fff;
}
.phoneModalDialog > div{
    height: auto;
    margin: -142px 0 0 -205px;
}
.close-all{
    width: 100%;
    height: 100%;
    display: block;
}
.close {
    color: #c6c6c6;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}
.close:hover {
    color: #53b9bb;
    border-left: 1px solid #53b9bb;
    border-bottom: 1px solid #53b9bb;
}
.modalDialog-form h2{
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.modalDialog-form form input[type='text'], .phoneModalDialog form input[type='text']{
    margin-bottom: 15px;
}
.modalDialog-form form textarea{
    height: 110px !important;
    padding-top: 10px !important;
}
.modalDialog-form form input[type='text'], .modalDialog-form form textarea, .modalDialog-form form input[type='submit'], .phoneModalDialog form input[type='text'], .phoneModalDialog form input[type='submit']{
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: 'PFDinTextPro-Thin';
    padding: 0;
}
.modalDialog-form form input[type='submit'], .phoneModalDialog form input[type='submit']{
    background-color: #53b9bb;
    color: white;
    font-family: 'PFDinTextPro-Medium';
    cursor: pointer;
    margin-top: 26px;
}
.phoneModalDialog form input[type='submit']{
    margin: 0!important;
}

.x-simple .xoverlay-box{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    opacity:0;
    background:rgba(255,255,255,.7);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.x-simple:hover .xoverlay-box{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    opacity:1;
    background:white;
}
.xoverlay{
    position:relative;
    overflow:hidden;
}
.x-img-main, .xoverlay-data{
    height:100px;
    line-height: 100px;
    font-size: 0;
}
.x-img-main > p, .xoverlay-data > p{
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 22px;
    display: inline-block;
    color: #7d7d7d;
}
.xoverlay-data > p{
    font-size: 20px !important;
    color: #000000 !important;
    padding: 0 15px;
}
/*============================================================*/
.footer-map{
    position: relative;
    height: 450px;
}
.footer-map-info{
    background-color: white;
    position: absolute;
    right: 10%;
    top: 25px;
    width: 370px;
    height: auto;
    padding: 40px 20px;
    z-index: 9998;
}
.footer-map-info h2{
    text-align: center;
    font-size: 48px;
    color: #000000;
    margin-bottom: 40px;
}
.footer-map-info h3{
    text-align: center;
    color: #53b9bb;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'PFDinTextPro-Medium';
}
.footer-map-info ul{
    width: 100%;
}
.footer-map-info ul li{
    font-size: 24px;
    padding-left: 36px;
}
.footer-map-info ul li a{
    color: #000000;
    text-decoration: none;
}
.footer-map-info ul li:nth-child(2){
    margin: 40px 0;
}
.footer-map-info ul li:nth-child(1){
    background: url("../images/footer-map-info-img1.png")no-repeat 10px center;
}
.footer-map-info ul li:nth-child(3){
    background: url("../images/footer-map-info-img2.png")no-repeat 10px center;
}
#map {
    height:450px;
    width:100%;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
/*============================================================*/
.article-7 h2, .article-6 h2, .article-11 > .wrap960 > h2{
    font-size: 48px;
}
.article-8 > .wrap960 > h2{
    font-size: 60px;
}
/*============================================================*/
.form-checkbox-x{
    position: relative;
}
.form-checkbox{
    position: absolute;
    right: 0;
    bottom: 0;
}
.ya-phone{
vertical-align: middle;
}
#ivanovartem{
    width: 255px;
    margin: 0 auto;
}
#ivanovartem a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 3px 0;
}
#ivanovartem a:hover{
    text-decoration: underline;
}
/*============================================================*/
.small_menu{
    display: none;
}
#pull{
    display: none;
}
/*============================================================*/
@media screen and (min-width:1770px){
    .footer-map-info {
        right: 26% !important;
    }
}
@media screen and (min-width:0px) and (max-width:960px) {
    .wrap960{
        width: 100%!important;
        min-width: 320px!important;
    }
    .nav{
        height: auto;
    }
    .menu{
        display: none;
    }
    .small_menu{
        display: block;
        background-color: #53B9BB;
        width: 300px;
        margin: 0 auto;
    }
    .small_menu ul{
        display: none;
    }
    .small_menu li{
        float: none !important;
        width: 100%;
        text-align: center;
        margin: 0!important;
        padding: 0!important;
        font-size: 20px;
        border-bottom: 1px dashed white;
    }
    .small_menu li a{
        width: 100%;
        display: block;
        padding: 12px 0 !important;
    }
    #pull{
        width: 100%!important;
        display: block;
    }
    #pull a{
        width: 100%!important;
        display: block;
        padding: 15px 0;
        text-align: center;
    }
    #pull a img{
        width: 20px;
        height: 19px;
        margin: 0 auto;
    }
}




@media screen and (min-width:601px) and (max-width:795px) {
    .main-article-header h2 {
        font-size: 15px;
        line-height: 21px;
        width: 280px;

    }
    .phones{
        width: auto;
    }
    .phones p {
        font-size: 22px;
    }
    .logo a {
        width: 100px;
        height: 36px;
        -webkit-background-size:100%;
        -o-background-size:100%;
        -moz-background-size:100%;
        background-size: 100%;
    }
}
@media screen and (min-width:481px) and (max-width:600px) {
    .main-article-header h2 {
        font-size: 15px;
        line-height: 21px;
        width: 280px;
        top: 56px;
    }
    .phones{
        width: auto;
        right: 20px;
    }
    .phones p {
        font-size: 22px;
    }
    .logo{
        left: 20px;
    }
    .logo a {
        width: 100px;
        height: 36px;
        -webkit-background-size:100%;
        -o-background-size:100%;
        -moz-background-size:100%;
        background-size: 100%;
    }
    .main-article {
        background: url("../images/main.jpg")no-repeat -400px center ;
    }
    .main-article-content h1 {
        font-size: 26px;
    }
}
@media screen and (min-width:0px) and (max-width:480px) {
    .article-2-line {
        width: 320px;
    }
    .main-article-content h1 {
        margin: 50px 20px 0;
    }
    .main-article-header h2 {
        font-size: 15px;
        line-height: 21px;
        width: 280px;
        top: 66px;
    }
    .phones{
        width: auto;
        right: 20px;
    }
    .phones p {
        font-size: 18px;
    }
    .logo{
        left: 10px;
    }
    .logo a {
        width: 100px;
        height: 36px;
        -webkit-background-size:100%;
        -o-background-size:100%;
        -moz-background-size:100%;
        background-size: 100%;
    }
    .main-article {
        background: url("../images/main.jpg")no-repeat -450px center ;
    }
    .main-article-content h1 {
        font-size: 26px;
    }
}
@media screen and (min-width:0px) and (max-width:400px) {
    .main-article {
        background: url("../images/main.jpg")no-repeat -522px center ;
    }
}


@media screen and (min-width:0px) and (max-width:412px) {
    .modalDialog > div, .phoneModalDialog > div {
        width: 270px;
        margin: -200px 0px 0px -155px;
        height: auto;
    }
    .modalDialog-form h2{
        font-size: 20px;
    }
}



@media screen and (min-width:538px) and (max-width:929px) {
    .article-1-text {
        float: none;
        height: auto;
        background: none;
        margin: 0px auto;
        width: auto;
    }
    .article-1-text p {
        padding: 0;
        margin: 20px 0;
    }
    .article-1-form {
        margin: 0 auto;
        float: none;
    }
    .article-1 {
        height: 570px;
    }
}
@media screen and (min-width:0px) and (max-width:537px) {
    .article-1-text {
        float: none;
        height: auto;
        background: none;
        margin: 0px auto;
        width: auto;
    }
    .article-1-text p {
        padding: 0;
        margin: 20px 0;
        font-size: 18px;
        line-height: 25px;
    }
    .article-1-form {
        margin: 0 auto;
        float: none;
    }
    .article-1 {
        height: 570px;
    }
    .article-1-form {
        padding: 5px;
    }
}





@media screen and (min-width:392px) and (max-width:770px) {
    .article-2 h2 {
        font-size: 40px;
    }
    .article-2-content {
        width: 100%;
        height: auto;
    }
    .article-2 ul li {
        text-align: center;
    }
    .article-2-content ul li img {
        float: none;
        margin-right: 0;
    }
    .article-2 h3{
        width: 100%;
        padding-bottom: 30px;
    }
}
@media screen and (min-width:0px) and (max-width:391px) {
    .article-2 h2 {
        font-size: 33px;
    }
    .article-2-content {
        width: 100%;
        height: auto;
    }
    .article-2 ul li {
        text-align: center;
    }
    .article-2-content ul li img {
        float: none;
        margin-right: 0;
    }
    .article-2 h3{
        width: 100%;
        padding-bottom: 30px;
    }
}






@media screen and (min-width:721px) and (max-width:914px) {
    .article-3 h2{
        font-size: 26px;
    }
    .article-3-content {
        margin: 0px auto;
        line-height: 20px;
        width: 100%;
        padding: 0 ;
        outline: none;
        border-style: none;
        border-width: 0;
        border-image: none;
        text-align: center;
    }
    .article-3 {
        width: 100%;
        height: auto;
    }
    .article-3-footer p {
        margin-bottom: 40px;
    }
}
@media screen and (min-width:0px) and (max-width:721px) {
    .article-3 h2{
        font-size: 26px;
    }
    .article-3-content {
        margin: 0px auto;
        line-height: 20px;
        width: 100%;
        padding: 0 ;
        outline: none;
        border-style: none;
        border-width: 0;
        border-image: none;
        text-align: center;
    }
    .article-3 {
        width: 100%;
        height: auto;
    }
    .article-3-footer-img {
        margin: 20px auto;
        float: none;
    }
    .article-3-footer p {
        text-align: center;
        margin: 20px 0px;
        float: none;
    }
    .article-3-footer {
        width: 100%;
    }
}









@media screen and (min-width:780px) and (max-width:908px) {
    .article-4-content img {
        float: none;
        margin-right: 0;
        display: none;
    }
    .article-4-content ul{
        text-align: center;
    }
}
@media screen and (min-width:0px) and (max-width:779px) {
    .article-4-content img {
        float: none;
        margin-right: 0;
        display: none;
    }
    .article-4-content ul{
        text-align: center;
    }
    .article-4-content > h2{
        font-size: 25px;
    }
    .article-4 h3 {
        width: 100%;
    }
}






@media screen and (min-width:0px) and (max-width:712px) {
    .article-5 p {
        font-size: 20px;
        line-height: 25px;
        padding-top: 40px;
    }
    .article-5 {
        height: auto;
        padding-bottom: 20px;
    }
}



@media screen and (min-width:583px) and (max-width:960px) {
    .article-6-li-price {
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 7px 0;
        float: none;
    }
    .article-6-li-content {
        float: none;
        width: 100%;
        border-top: 2px solid #C6C6C6;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .article-6-li-content:hover {
        border-top: 2px solid #53B9BB;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .article-6 ul li {
        margin-bottom: 20px;
    }
    .article-6 {
        width: 100%;
    }
}
@media screen and (min-width:0px) and (max-width:582px) {
    .article-6-li-price {
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 7px 0;
        float: none;
    }
    .article-6-li-content {
        float: none;
        width: 100%;
        height: 157px;
        border-top: 2px solid #C6C6C6;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .article-6-li-content:hover {
        border-top: 2px solid #53B9BB;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .article-6 ul li {
        margin-bottom: 20px;
    }
    .article-6 {
        width: 100%;
    }
    .article-6 h2{
        font-size: 30px;
    }
    .x-img-main, .xoverlay-data {
        line-height: 157px;
    }
}




@media screen and (min-width:731px) and (max-width:960px) {
    .article-7-content > img {
        display: none;
    }
    .article-7-content ul {
        float: none;
        width: 100%;
        text-align: center;
    }
    .article-7-content ul li img {
        float: none;
        margin-right: 0;
    }
}
@media screen and (min-width:0px) and (max-width:730px) {
    .article-7-content > img {
        display: none;
    }
    .article-7-content ul {
        float: none;
        width: 100%;
        text-align: center;
    }
    .article-7-content ul li img {
        float: none;
        margin-right: 0;
    }
    .article-7 h2 {
        font-size: 30px;
    }
}




@media screen and (min-width:0px) and (max-width:960px) {
    .vertical-line {
        display: none;
    }
    .article-8-content-box1 {
        float: none;
    }
    .article-8-content-box {
        width: 100%;
        height: auto;
        text-align: center;
        padding-bottom: 86px;
        margin-bottom: 40px;
    }
    .article-8-content-box .call-me a {
        margin: 0px auto;
        right: 0px;
    }
    .article-8-content-box h2 {
        text-align: center;
    }
    .article-8-content-box2 p {
        margin-bottom: 0 !important;
    }
    .article-8 > .wrap960 > h3 {
        width: 100%;
    }
    .article-8 {
        margin-bottom: 0;
    }
}
@media screen and (min-width:0px) and (max-width:644px) {
    .article-9 h2{
        font-size: 25px;
    }
    .article-9-video-box {
        border-top: 2px solid #53B9BB;
        border-bottom: 2px solid #53B9BB;
        border-right: none;
        border-left: none;
        width: 100%;
        height: 350px;
        margin: 0px auto;
    }
}








@media screen and (min-width:0px) and (max-width:930px) {
    .article-10 .article-1-text {
        height: auto;
    }
    .article-1-text {
        width: auto;
        height: auto;
        background: none;
        float: none;
    }
    .article-10 .article-1-text p {
        padding-top: 0px !important;
        margin-bottom: 40px;
    }
    .article-10 .article-1-form {
        background-color: #FFF;
        width: 305px;
        height: auto;
        float: none;
        padding: 5px;
        margin: 0 auto;
    }
    .article-10 {
        height: auto;
        padding-bottom: 40px;
    }
}







@media screen and (min-width:868px) and (max-width:1095px) {
    .bx-next{
    right: -35px;
    top: -228px;
    }
    .bx-prev{
    left: -35px;
    top: -228px;
    }
    .bx-wrapper{
    width: 800px;
    margin: 0 auto;
    }
    .bx-viewport {
    height: 328px !important;
    }
    .bxslider li p {
    font-size: 16px;
    line-height: 21px;
    }
}
@media screen and (min-width:800px) and (max-width:867px) {
    .bx-next{
        display: none;
    }
    .bx-prev{
        display: none;
    }
    .bx-wrapper{
        width: 800px;
        margin: 0 auto;
    }
    .bx-viewport {
        height: 328px !important;
    }
    .bxslider li p {
        font-size: 16px;
        line-height: 21px;
    }
}
@media screen and (min-width:0px) and (max-width:799px) {
    .bx-next{
        display: none;
    }
    .bx-prev{
        display: none;
    }
    .bx-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .bx-viewport {
        height: auto !important;
    }
    .bxslider li p {
        font-size: 16px;
        line-height: 21px;
        text-align: center;
    }
    .bxslider li img {
        display: none;
    }
    .bxslider li h2 {
        text-align: center;
    }
    .bx-controls{
        position: relative;
    }
    .bx-default-pager {
        float: none;
        display: table;
        margin: 0 auto;
    }
    .bx-pager-item {
        margin-left: 16px;
    }
    .article-11 > .wrap960 > h2 {
        font-size: 26px;
    }
}




@media screen and (min-width:0px) and (max-width:799px) {
    .footer-info {
        width: 100%;
    }
}




@media screen and (min-width:416px) and (max-width:970px) {
    .footer-map-info {
        background-color: #FFF;
        position: static;
        border: 2px dashed #53B9BB;
        margin: 0 auto 40px;

    }
}
@media screen and (min-width:0px) and (max-width:415px) {
    .footer-map-info {
        background-color: #FFF;
        position: static;
        border: 2px dashed #53B9BB;
        margin: 0 auto 40px;
        width: 275px;
    }
    .footer-map-info h2 {
        font-size: 30px;
    }
    .footer-map-info h3 {
        font-size: 18px;
    }
    .footer-map-info ul li {
        font-size: 20px;
    }
}



@media screen and (min-width:0px) and (max-width:970px) {
    #ivanovartem {
        margin: 420px auto 0px;
    }
}